<form action="/comentarioCreate" method="post">
  Texto: <input type="text" name="texto" required>
  <br><br>
  Título: <input type="text" name="titulo" required>
  <br><br>
  ID do Usuário: <input type="number" name="id_usuario" required>
  <br><br>
  ID do Livro: <input type="number" name="id_livro" required>
  <br><br>
  <input type="submit" value="Cadastrar">
</form>