<style>
.btn-link {
  display: inline-block;
  background: #2a4d69;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s, transform 0.1s;
  }
  .btn-link:hover {
  background: #4176a2;
  transform: translateY(-2px) scale(1.04);
  }
  .button{
    display: flex;
    gap: 10px;
    text-align: center;
    margin-top: 20px;
  }
</style>

<form action="/comentarioCreate" method="post">
<h2> Cadastrar um comentário </h2>
  Texto: <input type="text" name="texto" required><br><br>
  Título: <input type="text" name="titulo" required><br><br>
  Usuário:
  <select name="id_usuario" required>
    {{#each usuarios}}
      <option value="{{id}}">{{login}}</option>
    {{/each}}
  </select><br><br>
  Livro:
  <select name="id_livro" required>
    {{#each livros}}
      <option value="{{id_livro}}">{{titulo}}</option>
    {{/each}}
  </select><br><br>

  <div class="button">
  <input type="submit" class="btn-link" value="Cadastrar">
  <button type="button" class="btn-link" onclick="window.location.href='/home'">Voltar</button>
  </div>
</form>