<!DOCTYPE html>
<html>
<head>
    <title >Sistema de Biblioteca </title>
</head>

    <body>
        <center>
            <h1> Sistema de Bilioteca </h1>
        <a href ="usuarioCreate">
            <button> Cadastrar Usuario </button>
        </a>
        
        <a href ="usuarioList">
        <button> Listar Usuarios </button>
        </a>
        
        <a href ="/categoriaCreate"> 
        <button> Cadastrar Categorias </button> 
        </a>
        
        <a href ="/categoriaList"> 
        <button> Listar Categorias </button> 
        </a>

        <a href ="/livroCreate">
        <button> Cadastrar Livro </button>

        <a href ="/livroList">
        <button> Listar Livros </button>

        <a href ="comentarioCreate">
        <button> Cadastrar Comentario </button>
        </a>
        
        <a href ="comentarioList">
        <button >Listar Comentarios </button>
        </a>
        
        <br> <br>
        {{{ body }}}
        </center>
    </body>
</html>