<!-- Formulário de cadastro de livro -->
<form method="POST" action="/livroCreate" class="mb-4">
  <div class="form-group">
    <label for="titulo">Título:</label>
    <input type="text" class="form-control" name="titulo" id="titulo" required>
  </div>
  <div class="form-group">
    <label for="ano">Ano:</label>
    <input type="number" class="form-control" name="ano" id="ano" required>
  </div>
  <div class="form-group">
    <label for="id_categoria">Categoria:</label>
    <select class="form-control" name="id_categoria" id="id_categoria" required>
      {{#each categorias}}
        <option value="{{id_categoria}}">
          {{nome}} ({{ tipo }})
        </option>
      {{/each}}
    </select>
  </div>
  <div class="form-group d-flex justify-content-between">
    <button type="submit" class="btn btn-primary">Cadastrar Livro</button>
    <a href="/home" class="btn btn-secondary">Voltar</a>
  </div>
</form>