{{!-- views/home.handlebars --}}
{{#unless usuario}}
  <div class="text-center">
    <h3 class="alert alert-info text-center mt-4">Você não está logado !</h3>
    <h3 class="text-center mb-4">Selecione uma das opções acima !</h3>
  </div>
{{/unless}}

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="card shadow p-4" style="min-width: 350px;">
    <h1 class="text-center mb-4">Biblioteca Online</h1>
    <h2 class="text-center mb-4">Bem-vindo, {{usuario.login}}!</h2>
    
    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/if}}
    <div class="d-flex flex-column gap-3">
      {{#if (eq usuario.tipo 'ADMIN') }}
        <a href="/usuarioCreate" class="btn btn-outline-primary btn-lg mb-2">Cadastrar Usuário</a>
        <a href="/usuarioList" class="btn btn-outline-primary btn-lg mb-2">Listar Usuários</a>
        <a href="/categoriaCreate" class="btn btn-outline-primary btn-lg mb-2">Cadastrar Categorias</a>
        <a href="/categoriaList" class="btn btn-outline-primary btn-lg mb-2">Listar Categorias</a>
        <a href="/livroCreate" class="btn btn-outline-primary btn-lg mb-2">Cadastrar Livro</a>
        <a href="/livroList" class="btn btn-outline-primary btn-lg mb-2">Listar Livros</a>
        <a href="/comentarioCreate" class="btn btn-outline-primary btn-lg mb-2">Cadastrar Comentário</a>
        <a href="/comentarioList" class="btn btn-outline-primary btn-lg mb-2">Listar Comentários</a>
        <a href="/logout" class="btn btn-danger btn-lg">Sair</a>
      {{/if}}
      {{#if (eq usuario.tipo 'BIBLIOTECARIO') }}
        <a href="/livroList" class="btn btn-outline-primary btn-lg mb-2">Listar Livros</a>
        <a href="/comentarioCreate" class="btn btn-outline-primary btn-lg mb-2">Cadastrar Comentário</a>
        <a href="/comentarioList" class="btn btn-outline-primary btn-lg mb-2">Listar Comentários</a>
        <a href="/emprestimoCreate" class="btn btn-outline-primary btn-lg mb-2">Solicitar Empréstimo</a>
        <a href="/reservaCreate" class="btn btn-outline-primary btn-lg mb-2">Reservar Livro</a>
        <a href="/logout" class="btn btn-danger btn-lg">Sair</a>
      {{/if}}
      {{#if (eq usuario.tipo 'LEITOR') }}
        <a href="/livroList" class="btn btn-outline-primary btn-lg mb-2">Listar Livros</a>
        <a href="/comentarioCreate" class="btn btn-outline-primary btn-lg mb-2">Cadastrar Comentário</a>
        <a href="/comentarioList" class="btn btn-outline-primary btn-lg mb-2">Listar Comentários</a>
        <a href="/emprestimoCreate" class="btn btn-outline-primary btn-lg mb-2">Solicitar Empréstimo</a>
        <a href="/reservaCreate" class="btn btn-outline-primary btn-lg mb-2">Reservar Livro</a>
        <a href="/logout" class="btn btn-danger btn-lg">Sair</a>
      {{/if}}
    </div>
  </div>
</div>