<form action="/categoriaUpdate" method="post">
    <input type="hidden" name="id_categoria" value="{{categoria.id_categoria}}">
    Nome: <input type="text" name="nome" value="{{categoria.nome}}">
    <br><br>
    Tipo: <input type="text" name="tipo" value="{{categoria.tipo}}">
    <br><br>
    <input type="submit" value="Editar">
</form>