<!-- views/emprestimoCreate.handlebars -->
<div class="container" style="max-width: 400px; margin-top: 40px;">
  <div class="card shadow">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Registrar Empréstimo</h2>
      <form action="/emprestimoCreate" method="post">
        <div class="form-group">
          <label for="id_usuario">ID do Usuário:</label>
          <input type="number" class="form-control" name="id_usuario" id="id_usuario" required>
        </div>
        <div class="form-group">
          <label for="id_livro">ID do Livro:</label>
          <input type="number" class="form-control" name="id_livro" id="id_livro" required>
        </div>
        <div class="form-group d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Registrar Empréstimo</button>
          <a href="/home" class="btn btn-secondary">Voltar</a>
        </div>
      </form>
    </div>
  </div>
</div>