<!-- views/emprestimoCreate.handlebars -->
<h2>Registrar Empréstimo</h2>
<form action="/emprestimoCreate" method="post">
  ID do Usuário: <input type="number" name="id_usuario" required><br><br>
  ID do Livro: <input type="number" name="id_livro" required><br><br>
  <input type="submit" value="Registrar Empréstimo">
  <button type="button" onclick="window.location.href='/home'">Voltar</button>
</form>